<html>
<head>
<!-- these 4 files always have to be included -->
<link rel="stylesheet" type="text/css" href="../../lib/css/materialize.css">
<link rel="stylesheet" type="text/css" href="../../css/adapter.css"/>

<script type="text/javascript" src="../../lib/js/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../../socket.io/socket.io.js"></script>

<!-- these files always have to be included -->
<script type="text/javascript" src="../../js/translate.js"></script>
<script type="text/javascript" src="../../lib/js/materialize.js"></script>
<script type="text/javascript" src="../../js/adapter-settings.js"></script>
<script type="text/javascript" src="words.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
 <style>
  .m .col .select-wrapper+label {
   top: -26px;  
  }
    .m span{
        font-size: 0.9em;
    }
    img {
        width: 90px;
        height: 90px;
        background: 50% no-repeat;
        border: 1px solid black;
        border-radius: 5px;
    } </style>
<!-- you have to define 2 functions in the global scope: -->
<script type="text/javascript">
    // the function loadSettings has to exist ...
    function load(settings, onChange) {
        // example: select elements with id=key and class=value and insert value
        if (!settings) return;

        $('.value').each(function () {            
            var $key = $(this);
            var id = $key.attr('id');
            if ($key.attr('type') === 'checkbox') {
		        // do not call onChange direct, because onChange could expect some arguments
                $key.prop('checked', settings[id]).on('change', function() {
                    onChange();
                });
            } else {
		        // do not call onChange direct, because onChange could expect some arguments
                $key.val(settings[id]).on('change', function() {
                    onChange();
                }).on('keyup', function() {
                    onChange();
                });
            }
        });
        onChange(false);
        M.updateTextFields();  // function Materialize.updateTextFields(); to reinitialize all the Materialize labels on the page if you are dynamically adding inputs.
    }

    // ... and the function save has to exist.
    // you have to make sure the callback is called with the settings object as first param!
    function save(callback) {
        // example: select elements with class=value and build settings object
        var obj = {};
        $('.value').each(function () {
            var $this = $(this);
            if ($this.attr('type') === 'checkbox') {
                obj[$this.attr('id')] = $this.prop('checked');
            } else {
                obj[$this.attr('id')] = $this.val();
            }
        });
        callback(obj);
        window.location.reload();
    }
    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

</script>
</head>
<body>
    <!-- you have to put your config page in a div with id adapter-container -->
    <div class="m adapter-container">
        <div class="row">
            <!-- Forms are the standard way to receive user inputted data.
         Learn more http://materializecss.com/forms.html-->
            <div class="row">
                <div class="input-field col s6">
                    <img src="sunnyportal.png" class="logo">
                </div>
            </div>
            <div id='vueapp' class="row">
                <table>
                    <tr><td class="translate">Username</td><td><input v-bind:style="{ 'background-color': username_bkgnd}" v-model="username" class="value" id="username"/></td></tr>
                    <tr><td class="translate">Password</td><td><input v-model="password" class="value" type="password" id="password"/></td></tr>
                    <tr><td class="translate">Plant OID</td><td><input v-model="plantoid" class="value" id="plantoid"/></td></tr>
                    <tr><td class="translate">Interval (>= 15)</td><td><input v-model="interval" class="value" id="interval"/></td></tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: "#vueapp",
        data: {
            username: '',
            password: '',
            plantoid: '',
            interval: 0,
            username_bkgnd: ''
        },
        watch: {
            username: function(val, oldVal) {
                console.log(val, oldVal);
                if (!validateEmail(val)) {
                    console.log('invalid email address!');
                    this.username_bkgnd = 'red';
                } else {
                    this.username_bkgnd = '';
                }
            }
        },
        created: function () {
        },
        beforeDestroy: function() {
        },
    })    
</script>
</html>
